<main class="px-3">
    <div>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> Status was updated.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h2>Title</h2>
        <p class="lead">Click on completed items. They will be crossed off as they are completed.!!!</p>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto text-center">
            <div class="list-group">
                <button id="1" type="button" class="list-group-item list-group-item-action text-decoration-line-through">Cras justo odio</button>
                <button id="2" type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                <button id="3" type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                <button id="4" type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                <button id="5" type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
            </div>
            <p></p>
            <div class="container">
                <div class="row">
                  <div class="col">
                    <a id="btnBack" class="btn btn-normal" href="/home" role="button">BACK</a>
                  </div>
                  <div class="col">
                    <button id="btnUpdate" type="button" class="btn btn-normal">UPDATE</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- References to external JS files -->
<script src="/js/checklist.js"></script>