<main class="px-3">
    <div>
        <h2>Title</h2>
        <br>
        <p></p>
        <div class="d-grid gap-2 col-6 mx-auto">
            <textarea class="form-control disabled" id="exampleFormControlTextarea1" rows="8" disabled readonly>test</textarea>
            <p></p>
            <a id="btnBack" class="btn btn-normal" href="/home" role="button">BACK</a>
        </div>
    </div>
</main>